body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ADD8E6;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.banner, .footer {
    display: flex;
    justify-content: center;
    min-height: 50px;
    align-items: center;
    background-color: #79adbe;
}
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
h1 {
    color: #333;
}
form{
    display: flex;
    flex-direction: column;
}
div {
    display: flex;
    justify-content: space-between;
}
label {
    color: #333;
    font-weight: bold;
    align-self: center;
    margin-right: 15px;
}
input {
    color: #333;
    background-color: #efefef;
    margin-bottom: 10px;
    padding: 10px;
    border: none;
    border-radius: 6px;
    outline: none;
    min-width: 190px;
}
button {
    color: #333;
    font-weight: bold;
    background-color: #efefef;
    margin-bottom: 6px;
    padding: 10px;
    border: none;
    border-radius: 6px;
    outline: none;
}
button:hover {
    cursor: pointer;
    background-color: #c2c2c2;
}
a {
    text-decoration: none;
    font-size: 20px;
    color: #333;
}
a:visited {
    color: #333;
}
a:hover {
    cursor: pointer;
}
