
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #75db48; 
        }
        h1 {
            color: #333;
            text-align: center;
            margin-top: 20px;
        }
	h2 {
	border-bottom: 1px;
	border-bottom-style: solid;
	}
        /* Styles for the tabs. */
        .tab {
            overflow: hidden;
            border: 1px solid #333;
            background-color: #333; 
        }

        /* Styles for the buttons inside the tab. */
        .tab button {
            background-color: inherit;
            float: left;
            border: none;
            outline: none;
            cursor: pointer;
            padding: 14px 16px;
            transition: 0.3s;
            font-size: 17px;
            color: white;
        }

        /* Changes background color of buttons on hover. */
        .tab button:hover {
            background-color: #b6d7a8; 
            color: #333; 
        }

        /* Active/current tablinks. */
        .tab button.active {
            background-color: #24550e; 
            color: white; 
        }

        /* Styles for tab content. */
        .tabcontent {
            display: none;
            padding: 20px;
            border: 1px solid #333;
            border-top: none;
            background-color: white;
            color: #333;
        }

        a {
          text-decoration: none;
          color: white;
        }
